body {
    background-color: #1B1B1B;
}

.heading {
    padding:50px;
    text-align: center;
    background-color: #1F51FF;
    color: white;
    font-size: 32px;
}

#main_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border: none;
    width: 18rem;
    padding: 0
}

.name {
    display:block;
    color:white;
    font-size: 24px;
}

.member-type {
    color: white;
    font-size: 18px;
}